*.jar
*.class
oracleJdk-*/
jdk*/
jdk/
oracle/
*.jks
Backup/

# Virtual environments
.venv/
venv/
ENV/
env/

# Python caching
__pycache__/
*.pyc

# Scripts and Automation
Scripts/*.py
Scripts/*.log
Scripts/*.sh
*.log

# Environments
.env

# Scratch JSON files
Tacticus/char_images.json
Tacticus/wiki_found_images.json